.mainPage {
	min-height: 100vh;
	background: linear-gradient(76deg, #f26161, #7ebd36, #2ca6d3);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	-o-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	/* background: #2c3e50; /* fallback for old browsers */
	/* background: -webkit-linear-gradient( */
	/* to right,
		#fd746c,
		#2c3e50
	); Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(
		to right,
		#fd746c,
		#2c3e50
	); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
@-o-keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
.header {
	margin-top: 0;
}
.playBtn {
	font-size: 20px;
	color: rgb(0, 0, 0);
	padding: 8px 33px;
	background-color: rgb(255, 255, 255);
	border: 1px solid white;
	text-decoration: none;
	margin-left: 20px;
	transition: all 0.4s;
}
.playBtn:hover {
	background-color: rgb(0, 0, 0);
	color: #ffffff;
}
.dropbtn {
	color: white;
	min-width: 173px;
	font-size: 20px;
	padding: 10px 33px;
	background-color: transparent;
	border: 1px solid white;
	text-decoration: none;
	/* margin-top: 30px; */
	transition: all 0.4s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	font-size: 18px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	max-height: 260px;
	font-size: 15px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.dropdownContent span {
	color: black;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdownContent span:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgb(255, 255, 255);
	color: rgb(73, 73, 73);
}
.buttons {
	display: flex;
}
