.failPage {
	background-color: rgb(255, 65, 65);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: linear-gradient(76deg, #f26161, #7ebd36, #2ca6d3);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	-o-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
@-o-keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 76% 0%;
	}
	50% {
		background-position: 25% 100%;
	}
	100% {
		background-position: 76% 0%;
	}
}
.tryAgainBtn {
	display: block;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	padding: 8px 33px;
	border: 1px solid white;
	background-color: transparent;
	text-decoration: none;
	margin-bottom: 30px;
	transition: all 0.4s;
	box-shadow: rgba(92, 92, 92, 0.24) 0px 3px 8px;
}
.tryAgainBtn:hover {
	background-color: white;
	color: rgb(255, 94, 94);
}
.line {
	min-width: 500px;
	min-height: 1px;

	background-color: white;
}
.countQuestionsPassed {
	font-size: 43px;
	margin: 0;
	margin-bottom: 40px;
}
.summarSection {
	min-height: 300px;
}
.correctQResponded {
	min-height: 100px;
}
.QItem {
	padding: 12px 40px;
	background-color: rgb(222 225 127);
	color: black;
	font-size: 16px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 25px;
}
.failedQItem {
	padding: 12px 40px;
	background-color: rgb(255 233 233);
	color: black;
	font-size: 16px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 25px;
}
.summaryQheader {
	margin-top: 5px;
	text-align: center;
}
.statistics {
	display: flex;
	justify-content: space-around;
}
.statisticsItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 28px;
}
